@font-face {
	font-family: 'Permanent Marker';

	src: 	url('../../fonts/permanentmarker-regular-webfont.woff') format('woff'),
			url('../../fonts/permanentmarker-regular-webfont.woff2') format('woff2'); 
}; 

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;

	src: 	url('../../fonts/montserrat-regular-webfont.woff') format('woff'),
			url('../../fonts/montserrat-regular-webfont.woff2') format('woff2'); 
}; 

@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	
	src: 	url('../../fonts/montserrat-bold-webfont.woff') format('woff'),
			url('../../fonts/montserrat-bold-webfont.woff2') format('woff2'); 
}; 