@use 'fonts';

// FONTS 
$font-titre:  'Permanent Marker', cursive;
$font-regulier: 'Montserrat', sans-serif; 


// COULEURS
$couleur-principale: #172E58; 
$couleur-secondaire: #358C7C;
$couleur-soutien : #BF6956;
$couleur-accent: #A61C28;
$couleur-blanc: #f2f2f2;
$couleur-noir: #090909;
